@require '{ohif:design}/app'

.toolbarSection
  theme('border-bottom', '%s solid $uiBorderColor' % $uiBorderThickness)
  flex: 0 0 auto
  height: $toolbarHeight
  padding-top: 6px
  position: relative
  transition(height 300ms ease)
  width: 100%

  &.expanded
    height: $toolbarHeight + $toolbarDrawerHeight


.brand
  height: 30px
  display: inline-block
  text-decoration: none

  .logo-image
    display: inline-block
    fill: transparent
    float: left
    height: 100%
    margin: 0 8px 0 0
    width: 30px

  .logo-text
    display: inline-block
    font-family: $logoFontFamily
    font-size: 14px
    font-weight: $logoFontWeight
    theme('color', '$textPrimaryColor')
    line-height: 30px
